<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">Sistema para exemplificar um CRUD usando Angular e Spring Boot</mat-card-subtitle>

</mat-card>

    <div class="headings">
        <h1>My Book Store</h1>
        <h2>BACK END: Criamos uma 
            <strong>API Rest</strong>
             usando Java com <strong>Spring Boot</strong>
             e também usamos <strong>JPA com Hibernate</strong> para persistir
              as informações no banco <strong>H2</strong>. Aprendemos também a validação de dados,
               tratamento de exceções, uso adequado do protocolo <strong>HTTP</strong> no padrão <strong>REST</strong>,
                foi desenvolvido um frontend usando o <strong>Angular</strong> ,
                 consumimos nossa <strong>API REST</strong> usando nosso frontend.

            Biblioteca completa com <strong>CRUD (CREATE, READ, UPDATE e DELETE)</strong>
             gerenciando seus livros e categorias via requisições web.
            
            API REST foi implantada na <strong>NUVEM da HEROKU</strong> !!!
             Nosso front-end foi implementado no <strong>Github Pages</strong> !!!</h2>
    </div>
